<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="v1" value="Comedy,1"/>
		<add key="v2" value="Indian,3"/>
		<add key="v3" value="Hollywood,2"/>
		<add key="v4" value="Drama,4"/>
		<add key="d1" value="Java,1"/>
		<add key="d2" value="Azure,3"/>
		<add key="d3" value="Python,2"/>
		<add key="d4" value="SQL,4"/>
		<add key="VideoSupportFormat" value=".mp4,.avi,.mkv,.wmv"/>
		<add key="DocsSupportedFormat" value=".pdf,.docx"/>
	</appSettings>
</configuration>
